# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/RayTracer/nbproject/private/
/RayTracer/build/
/RayTracer/dist/
RayTracer/store/
/RayTracer-Core/nbproject/private/
/RayTracer-BookBuild/nbproject/private/
/RayTracer-Core/build/
/RayTracer-BookBuild/build/
/RayTracer-Core/dist/
/RayTracer-BookBuild/dist/